* {
  box-sizing: border-box;;
}
body {
  background-color: #312c42;
}
.square {
  border: 1px solid black;
  background-color: white;
  margin-bottom: 4px;
  height: 100px;
  width: 100px;
  display: inline-block;
  border-radius: 10%;
}

.board {
  width: 315px;
  height: 315px;
  margin: 20px auto;
  border-radius: 20%;
}

.player1 {
  border: 1px solid black;
  background-color: #f0d06b;
  margin-bottom: 4px;
  height: 100px;
  width: 100px;
  display: inline-block;
}
.player2 {
  border: 1px solid black;
  background-color: #df8b52;
  margin-bottom: 4px;
  height: 100px;
  width: 100px;
  display: inline-block;
}
